@page "/edit-profile"

@inject IJSRuntime jsRuntime
@using FileGue.Tools
@using FileGue.Models
@using FileGue.Data
@inject NavigationManager NavMgr
@inject AzureBlobHelper AzureBlobHelper
@inject IToastService toastService
@inject UserProfileService service
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-0">
                <div class="iq-edit-list usr-edit">
                    <ul class="iq-edit-profile d-flex nav nav-pills">
                        <li class="col-md-3 p-0">
                            <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                Personal Information
                            </a>
                        </li>
                        <li class="col-md-3 p-0">
                            <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                Change Password
                            </a>
                        </li>
                        <li class="col-md-3 p-0">
                            <a class="nav-link" data-toggle="pill" href="#emailandsms">
                                Email and SMS
                            </a>
                        </li>
                        <li class="col-md-3 p-0">
                            <a class="nav-link" data-toggle="pill" href="#manage-contact">
                                Manage Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="iq-edit-list-data">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Personal Information</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row align-items-center">
                                    <div class="col-md-12">
                                        <div class="profile-img-edit">
                                            <div class="crm-profile-img-edit">
                                                <img class="crm-profile-pic rounded-circle avatar-100" @onclick="(()=>PrepareUpload())" src="@(string.IsNullOrEmpty(DataUser.PicUrl) ? "/assets/images/user/11.png" : DataUser.PicUrl)" alt="profile-pic">
                                                <div class="crm-p-image bg-primary">
                                                    <i class="las la-pen upload-button" @onclick="(()=>PrepareUpload())"></i>
                                                    <InputFile type="file" class="file-upload" id="fileInputPhoto" OnChange="UploadFiles" accept="image/*" hidden />
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row align-items-center">
                                    <div class="form-group col-sm-6">
                                        <label for="fname">First Name:</label>
                                        <input type="text" class="form-control" @bind="DataUser.FirstName" id="fname" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="lname">Last Name:</label>
                                        <input type="text" class="form-control" @bind="DataUser.LastName" id="lname" >
                                    </div>
                                   
                                    <div class="form-group col-sm-6">
                                        <label for="cname">City:</label>
                                        <input type="text" class="form-control" @bind="DataUser.City" id="cname" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="d-block">Gender:</label>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadio6" @onchange="OnChange" checked="@(DataUser.Gender=='M')" name="customRadio1" class="custom-control-input" >
                                            <label class="custom-control-label" for="customRadio6"> Male </label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadio7" @onchange="OnChange" checked="@(DataUser.Gender=='F')" name="customRadio1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio7"> Female </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="dob">Date Of Birth:</label>
                                        <input class="form-control" id="dob" type="date" @bind="DataUser.BirthDate">
                                    </div>
                                 
                                    <div class="form-group col-sm-12">
                                        <label>Address:</label>
                                        <textarea class="form-control" name="address" @bind="DataUser.Address" rows="5" style="line-height: 22px;">
                                      
                                       </textarea>
                                    </div>
                                </div>
                                <button type="button" @onclick="Simpan" class="btn btn-primary mr-2">Submit</button>
                                <button type="reset" class="btn iq-bg-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Change Password</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="cpass">Current Password:</label>
                                    <a href="javascripe:void();" class="float-right">Forgot Password</a>
                                    <input type="Password" @bind="DataUser.Password" class="form-control" id="cpass" >
                                </div>
                                <div class="form-group">
                                    <label for="npass">New Password:</label>
                                    <input type="Password" @bind="NewPass" class="form-control" id="npass" >
                                </div>
                                <div class="form-group">
                                    <label for="vpass">Verify Password:</label>
                                    <input type="Password" @bind="RetypePass" class="form-control" id="vpass" >
                                </div>
                                <button type="button" @onclick="Simpan" class="btn btn-primary mr-2">Submit</button>
                                <button type="button" @onclick="Cancel" class="btn iq-bg-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Email and SMS</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3" for="emailnotification">Email Notification:</label>
                                    <div class="col-md-9 custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="emailnotification" checked="">
                                        <label class="custom-control-label" for="emailnotification"></label>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3" for="smsnotification">SMS Notification:</label>
                                    <div class="col-md-9 custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="smsnotification" checked="">
                                        <label class="custom-control-label" for="smsnotification"></label>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3" for="npass">When To Email</label>
                                    <div class="col-md-9">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="email01">
                                            <label class="custom-control-label" for="email01">You have new notifications.</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="email02">
                                            <label class="custom-control-label" for="email02">You're sent a direct message</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="email03" checked="">
                                            <label class="custom-control-label" for="email03">Someone adds you as a connection</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <button type="button" @onclick="Simpan" class="btn btn-primary mr-2">Submit</button>
                                <button type="button" @onclick="Cancel" class="btn iq-bg-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Manage Contact</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="cno">Phone Number:</label>
                                    <input type="text" class="form-control" @bind="DataUser.Phone" id="cno" >
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" @bind="DataUser.Email">
                                </div>
                                <div class="form-group">
                                    <label for="url">Website:</label>
                                    <input type="text" class="form-control" id="url" @bind="DataUser.Website">
                                </div>
                                <button type="button" @onclick="Simpan" class="btn btn-primary mr-2">Submit</button>
                                <button type="button" @onclick="Cancel" class="btn iq-bg-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    string GenderStr;
    UserProfile DataUser = new UserProfile();

    string RetypePass, NewPass;
    string ErrorMsg = string.Empty;
    bool RegisterSuccess = false;
    Encryption enc;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;

    void Cancel()
    {
        NavMgr.NavigateTo("/");
    }

    private void OnChange(ChangeEventArgs args)
    {
        GenderStr = args.Value.ToString();
    }
    async Task PrepareUpload()
    {
        await jsRuntime.InvokeVoidAsync("OpenFileUpload", "fileInputPhoto");
    }
    protected override async Task OnInitializedAsync()
    {
        enc = new Encryption();

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            DataUser = service.GetItemByUsername(UserName);
            DataUser.Password = enc.Decrypt(DataUser.Password);
        }


    }
    void Simpan()
    {
        ErrorMsg = "";



        if (string.IsNullOrEmpty(DataUser.Phone))
        {
            ErrorMsg += "Tolong di isi no hp. ";

        }
        if (string.IsNullOrEmpty(DataUser.FullName))
        {
            ErrorMsg += "Tolong di isi nama lengkap. ";

        }
        if (string.IsNullOrEmpty(DataUser.Address))
        {
            ErrorMsg += "Tolong di isi alamat. ";

        }
        if (!string.IsNullOrEmpty(NewPass))
        {
            if (string.IsNullOrEmpty(DataUser.Password))
            {
                ErrorMsg += "Tolong di isi password. ";

            }
            if (NewPass != RetypePass)
            {
                ErrorMsg += "Password baru tidak sesuai dengan verifikasi password. ";

            }
            if (string.IsNullOrEmpty(ErrorMsg))
            {
                DataUser.Password = NewPass;
            }
        }

        if (ErrorMsg.Length > 0)
        {
            toastService.ShowWarning(ErrorMsg, "Perhatian");
            return;
        }
        if(GenderStr!=null)
            DataUser.Gender = GenderStr[0];
        DataUser.Password = enc.Encrypt(DataUser.Password);
        if (service.UpdateData(DataUser))
        {
            toastService.ShowSuccess("Profile Anda sudah berhasil di update. Nuhun", "Info");
        }
    }

    void Kembali()
    {
        NavMgr.NavigateTo("/");
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.OpenReadStream(AppConstants.MaxAllowedFileSize).CopyToAsync(ms);
            var bytes = ImageHelper.FixedSize(ms, 250, 250, false);
            string newName = string.Empty;

            newName = $"profile_{(string.IsNullOrEmpty(DataUser.Username) ? "rojul" : DataUser.Username)}_{DateTime.Now.ToString("dd_MM_yyyy_HH_mm_ss")}_{file.Name}";
            var FileUrl = $"{AppConstants.UploadUrlPrefix}{newName}";
            await AzureBlobHelper.UploadFile(newName, bytes);
            DataUser.PicUrl = FileUrl;

        }
    }
}